colour haru milaune baki xa


body{
    font-size: 0.9rem;
    /* background-color: #8e2de2; */
}
.contact-in{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    /* background-color: yellow; */
    box-shadow: 0px 0px 10px 0px #666 ;
}

.contact-map{
   width: 100%;
   flex: 50%; 
}
.contact-map iframe{
   width: 100%;
   height: 100%; 
}
.contact-form{
   /* margin: 0.2rem; */
   padding: 0.4rem;
   width: 100%;
   height: auto;
   flex: 50%; 
}
.contact-form h1{
   color: black;
margin-bottom: 0.7rem;
}

.contact-form-txt {
    width: 100%;
    height: 2.5rem;
    color: rgb(0, 0, 0);
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
 }
 .contact-form-txt::placeholder{
    color: #aaa;
 }
.contact-form-txtarea{
    width: 100%;
    height: 9.7em;
    color: black;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
 }
 .contact-form-txtarea::placeholder{
    color: #aaa;
 }

 .contact-form-btn{
      width: 100%;
      border: none;
      outline: none;
      border-radius: 50px;
      background: #8e2de2;
      color: white;
      text-transform: uppercase;
      padding: 0.7rem 0;
      cursor: pointer;
      font-size: 1.12rem;
      /* margin-bottom: 1rem; */
 }
 .contact-title{
   font-size: 2rem;
   text-transform: uppercase;
   text-align: center;
   margin-top: 1.8rem;
 }
 .para{
   margin: auto;
   font-size: 0.5em;
   width: 80vw;
   padding: 1.2rem;
 }
 .content{
   max-width: 1170px;
   margin:auto;
}

@media screen and (max-width: 600px){
   .contact-in{
      flex-direction: column;
   }
}