body{
    color:#000;
    
}

main
{
    font-size: 1.5rem;

}

h1{
     color:rgb(27, 53, 52); 
    font-family:fantasy;
    font-weight: 1rem;
    margin: 0.7rem;
    text-align: center;
}
/* .event-links a{
    display: flex;
    text-decoration: none;
    color: white;
}
 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
 li{
    list-style: none;
    display: flex;
    margin: auto; 
} */

.events1{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
   background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.flex{
    display: flex;

}
.abc1{
    text-align:center;
     color:  rgb(6, 31, 91);  
    font-family: cursive;
}
.events2{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
    /* background-color: rgb(169, 241, 217); */
    background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.flex2{
    display: flex;
}
.abc2{
    text-align:center;
     color:  rgb(6, 31, 91); 
    font-family:cursive;
}
.events3{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
    /* background-color: rgb(172, 246, 222); */
    background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.flex3{
    display: flex;
}
.abc3{
    text-align:center;
     color: rgb(6, 31, 91); 
    font-family:cursive;
}
.events4{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
    /* background-color: rgb(119, 234, 201); */
    background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.flex4{
    display: flex;
}
.abc4{
    text-align:center;
     color: rgb(6, 31, 91); 
    font-family: cursive;
}
.events5{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
    /* background-color: rgb(119, 234, 201); */
    background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.flex5{
    display: flex;
}
.abc5{
    text-align:center;
     color: rgb(6, 31, 91); 
    font-family: cursive;
}
.events6{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
    /* background-color: rgb(119, 234, 201); */
    background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.flex6{
    display: flex;
    flex-direction: row-reverse;
}
.abc6{
    text-align:center;
     color: rgb(6, 31, 91); 
    font-family: cursive;
}
.events7{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
    /* background-color: rgb(119, 234, 201); */
    background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.flex7{
    display: flex;
}
.abc7{
    text-align:center;
    color: rgb(6, 31, 91);
    font-family: cursive;
}
.events8{
    border: solid 2px rgb(138, 141, 141);
    padding: 1rem;
    /* background-color: rgb(119, 234, 201); */
    background-color:rgb(252 186 99);
    margin: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.flex8{
    display:flex;
}
.abc8{
    text-align:center;
    color: rgb(6, 31, 91);
    font-family: cursive;
}
/* .events9{
    border: solid 2px rgb(138, 141, 141);
    padding: 10px;
    background-color: rgb(119, 234, 201);
    margin: 10px;
}
.abc9{
    text-align:center;
    color: rgb(6, 31, 91);
    font-family: cursive;
} */
.picture{
    height:200px;
    width: 300px;
    /* gap: 0px; */
    margin: 25px;
    /* justify-content: space-between; */
    border-radius: 20px;
}