.content-heading {
    margin-top: 1rem;
    text-align: center;
    color: white;
}

.content {
    font-size: 1.2rem;
    text-align: justify;
    margin: 1rem;
    color: white;
}

.color {
    background-color: rgb(108, 108, 216);
    color: white;
}

.grade {
    border-bottom: 1px solid white;
    padding: 0.6rem;
    padding-bottom: 0;
}

.wrap {
    font-size: 1.2rem;
}

.class {
    margin-left: 1rem;
    border-left: 1px solid white;
    padding: 1rem;
}

.class::before {
    content: "";
    border: 0.5rem solid white;
    border-radius: 50%;
    position: absolute;
    left: 0.5rem;
}

.flex {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-direction: row;
    margin: 1rem;
    flex-wrap: wrap;
}

.none {
    list-style: none;
    margin: 0.5rem;
}

.pictures {
    height: 20vh;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    margin: 0.5rem auto;
    align-items: center;
}

.teacher {
    height: fit-content;
    justify-content: space-between;
    background-color: yellow;
    border-radius: 20px;
    border: 5px solid #010101;
    text-align: center;
    margin: 1rem;
}

.contact-links {
    text-decoration: none;
    color: black;
    cursor: pointer;
}